# Gradle
.gradle/
build/

# IDE
.idea/
*.iws
*.iml
*.ipr

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Allure reports and results
allure-results/
allure-report/

# AspectJ / Allure debug files
ajcore.*

# Test coverage
jacoco/
